# Core web app
streamlit>=1.36.0

# YOLOv8 model & computer vision
ultralytics>=8.2.0
opencv-python-headless>=4.10.0.84
pillow>=10.3.0
numpy>=1.26.4

# Optional (performance & environment)
torch>=2.2.0
torchvision>=0.17.0

# Utility
matplotlib>=3.8.0
